<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href ="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <b1>Your problem with our weather app is: {{problem}}</b1>
            <p>You can call at {{phone }} for more help.</p>
            
        </div>
        {{>footer}}
    </body>
</html>